@import "../../styles/variables.scss";

.footer {
  margin-top: 162.23px;
  height: 248px;
  width: 100%;
  display: flex;
}

.footer__container {
  background: transparent linear-gradient(180deg, #c2e3f3 0%, #6aa3c1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 4px 6px 23px #a9a9a911;
  opacity: 1;
  width: 100%;
  height: 70px;
  @include media(">=desktop") {
    height: 167px;
  }
  @include media(">=tablet", "<desktop") {
    height: 116px;
  }
}

.footer__items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer__partner {
  color: var(--unnamed-color-425966);
  font: normal normal normal 23px/31px "Monster Clubhouse";
  letter-spacing: 0px;
  @include media(">=desktop") {
    font: normal normal normal 56px/76px "Monster Clubhouse";
  }
  @include media(">=tablet", "<desktop") {
    font: normal normal normal 39px/53px "Monster Clubhouse";
  }
}

.footer__logo {
  width: 228px !important;
  height: 106px !important;
  min-width: 228px !important;
  min-height: 106px !important;
  @include media(">=desktop") {
    width: 536px !important;
    height: 248px !important;
    min-width: 536px !important;
    min-height: 248px !important;
  }
  @include media(">=tablet", "<desktop") {
    width: 379px !important;
    height: 175px !important;
    min-width: 379px !important;
    min-height: 175px !important;
  }
}
